{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Topics for {{ subject.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/styles.css' %}">
</head>
<body>
    <h1>Topics for {{ subject.name }}</h1>
    <ul>
        {% for topic in topics %}
        <li>
            <h2>{{ topic.title }}</h2>
            <p>{{ topic.content }}</p>
            {% if topic.image %}
            <img src="{{ topic.image.url }}" alt="{{ topic.title }}">
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
